
*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */

}
body{
    overflow: hidden;
}
.content{
    width: 500px;
    height: 500px;
    background-image: url("../image/forget.jpg");
    background-size: 500px 500px;
    position: relative;

}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.773);
    z-index:1;
}
.t{
    font-size: 45;
    font-weight: bolder;
    text-align: center;
    color: red;
    margin-top:20 ;
    text-decoration: underline;
    animation: ahmed 2s ease 1s infinite alternate forwards running;
    display: inline-block;

}
@-webkit-keyframes ahmed{
    form{
       width: 0;
         

    }
    to{
    width: 100%;
    color: green;
  }
}
.f{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20;
}
.u{
   width: 300;
   height: 40;
   border-radius: 20;
   border: 3px solid blue;
}
.sub{
    border-radius: 20;
    font-size: 20;
    color: white;
    background-color: black;
}
.sub:hover{
    background-color: red;
    cursor: pointer;
}
label{
    color: white;
    font-size: 30;
}
.im{
    text-align: center;
    font-size: 25;
    color: white;
    margin: 0 auto;
    position: relative;
    top: 58;
    width: 400;
    height: 30;
    background-color: blue;
    text-decoration: underline;
    padding: 10;
    border-radius: 20px;
    border: 3px white  dashed;
    display: none;
}



.imm{
    text-align: center;
    font-size: 25;
    color: white;
    margin: 0 auto;
    position: relative;
    top: 120;
    width: 400;
    height: 30;
    background-color: blue;
    text-decoration: underline;
    padding: 10;
    border-radius: 20px;
    border: 3px white  dashed;
    display: none;
}
.ff{
    position: relative;
    top: 100;
    display: none;
    justify-content: space-around;
}
.fff{
    display: none;
    position: relative;
    justify-content: space-around;
    top: 100;
    margin-top: 20;
}
.res{
    background-color:yellow;
    color: black;
    width: 300;
    font-size: 35;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:90px;
    font-weight: bolder;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    animation:mohamed 2s alternate 1s infinite normal forwards running;
    display: none;
}
@keyframes mohamed{
    form{
       background-color: black;
         

    }
    to{
 background-color: blueviolet;
  }
}
.tam{
    background-color: green;
    background-color: white;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: 420px;
    border: 3px blue dotted;
    font-weight: bolder;
    border-radius: 30px;
    position: relative;
    display: none;
    top: 140;
}